


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<a class="btn btn-primary btn active" role="button" aria-pressed="true" href="{% url 'core:Student_list' %}" role="button">Показать список студентов</a>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FIO</th>
        <th scope="col">Lessons</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
    {% for WW in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{WW.student}}</td>
        <td>{{WW.lesson}}</td>
        <td>{{WW.grade}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



{#    <a href="{% url 'core:Student_delete' object.pk %}" class="btn btn-success">Удалить</a>#}



</body>
</html>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>